body {
 
    font-family: 'Lato', sans-serif;
    margin: 0;
}
header {
    background-color: pink;
   
}
nav {
    
    
    color: white;
    background-color:#212121;
    text-align: center;
    
}

.menu {
    
    width:100%;
    list-style-type: none;
    margin: 0;
   padding-top: 30px;
    font-size: 18px;
    min-height: 100px;
    line-height: 150%;
    
}

.menu > li {
    
    width:8%;
    display: inline-block;
    
}

.menu > li:first-child{
    
    float:left;
    width:30%;
    
}

.menu a {
    text-decoration: none;
    color: white;
    
}

.menu a:hover {
    color: #d84315;
    
}
#container-informator {
    
    
}

.informator-kategorie {
    
    width:100%;
    height: 30px;
    list-style-type: none;
    margin: 0;
    
}
.informator-kategorie > li {
    margin-top: 10px;
    display: inline-block;
    margin-right: 2%;
}

.informator-kategorie > li:first-child  {

   color: #90a4ae;
    float: left;
    margin-right: 5%;
}

.informator-kategorie a {

    text-decoration: none;
    color: #212121;
}

.informator-kategorie a:hover {

   color: #90a4ae;
    height:100%;
}
hr {
    
    width: 100%;
    box-shadow: 5px 5px 10px black;
}
section {
    
    float:left;
    width:50%;
    margin-left: 14%; 
    margin-top: 5%;
}

aside {

    height:1500px;
    float:left;
    width:20%;
    margin-right: auto;
    margin-top:5%;
    margin-left:2%;
    padding-left: 20px;
    border-left:1px solid grey;
    font-size: 15px;
    
}
#tresc {
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    
}
article {
    
}
.one {
    float:left;
    width:30%;
    margin-top:3%;
    margin-left:20px;
    
}

footer {
    
    clear:both;
    width:100%;
    height:100px;
    margin:0;
    background-color:#212121;
    color: #d84315;
    text-align:center;
    padding-top:25px;
    
}
